<div class="cascading-wrap" ng-init="show=false">
    <div class="input-group">
        <input class="form-control" type="text" placeholder="请选择" ng-model="name">
        <span style="position:relative;top:0;" class="input-group-addon" ng-class="{true:'glyphicon glyphicon-chevron-up',false:'glyphicon glyphicon-chevron-down'}[show]" ng-click="show=!show"></span>
    </div>
    <div  ng-show="show" class="panel panel-default cascading">
        <div class="panel-body">
            <span class="glyphicon glyphicon-remove" ng-click="show=!show"></span>
            <ul>
                <li ng-repeat="item in main" ng-click="setMain(item)">
                    {{item}}
                </li>
            </ul>
        </div>
    </div>
</div>