<div class="row">
    <div class="col-xs-4">
        <select class="form-control" ng-model="vm.first" ng-options="first.label for first in vm.result">
            <option value="">-- 请选择 --</option>
        </select>
    </div>
    <div class="col-xs-4" ng-if="vm.first.provinces">
        <select class="form-control" ng-model="vm.province" ng-options="province.label for province in vm.first.provinces">
            <option value="">--请选择--</option>
        </select>
    </div>
    <div class="col-xs-4" ng-if="vm.province.cities">
        <select class="form-control" ng-model="vm.city" ng-options="city.label for city in vm.province.cities">
            <option value="">--请选择--</option>
        </select>
    </div>
    <div class="col-xs-12">
        {{vm.first.label}}--{{vm.province.label}}--{{vm.city.label}}
    </div>
</div>

