
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapseNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <div class="collapse navbar-collapse" id="collapseNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/home">主页</a></li>
                    <li><a href="#/template">模板</a></li>
                    <li><a href="#/article">文章</a></li>
                    <li ng-if="token==null"><a href="#/register">注册</a></li>
                    <li ng-if="token==null" ng-controller="baseCtrl"><a ng-click="vm.gotoLogin()">登陆</a></li>

                    <li  ng-if="token == 'admin'"><a href="#/admin">管理员</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="search">
                    </div>
                    <button type="submit" class="btn btn-default">submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/chat"><span class="glyphicon glyphicon-comment">&nbsp;在线聊天</span> </a></li>
                    <li class="dropdown">
                        <a href="javascript:0;" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">个人中心</a></li>
                            <li ng-if="token!=null" ng-controller="baseCtrl" ><a ng-click="vm.signOut()">退出</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>