.backToTop{
    position: fixed;
    right: 30px;
    bottom:50px;
}
.backToTop a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #cccccc;
    margin-bottom: 2px;
    border-radius: 3px;
}
.backToTop a:hover{
    background-color: #999999;
}
