.header{
    height: 51px;
}

footer{
    width:100%;
    position: fixed;
    bottom:0;
}

footer ul{
    width:25%;
    height: 0.5em;
    margin:0 auto;
}
footer ul>li{
    width: 25%;
    float:left;
    list-style-type: none;
}
footer p{
    text-align: center;
}