<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form role="form">
            <div class="form-group">
                <label for="title">标题</label>
                <input type="text" class="form-control" id="title" ng-model="vm.article.title"  placeholder="请输入标题">
            </div>
            <div class="form-group">
                <label for="article"></label>
                <textarea  rows="15" type="text" class="form-control" id="article" ng-model="vm.article.post" placeholder="请输入正文..."></textarea>
            </div>
            <button class="btn btn-default" style="float: right" ng-click="vm.publish()">发布</button>
        </form>
    </div>
</div>
