<br/><br/>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="input-group" style="float:right">
                            <input type="text" class="form-control" ng-model="vm.keyword" placeholder="请输入搜索内容...">
                                <span class="input-group-btn">
                                 <button class="btn btn-default" type="button" ng-click="vm.searchByJsonp()">搜索</button>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="item in vm.result">{{item[0]}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>